/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; display: block;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    src="lasagna.jpg" alt="Lasagna on a plate.">
    width: 100%; /*Please leave this line.*/
}

h1 {  
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    background-color:rgb(255, 153, 0) ;
    color:rgb(251, 255, 255);
    padding: 5% 1% 1%;
    font-size: 2.5rem
}

h2 {  
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    background-color:rgb(255, 153, 0) ;
    color:rgb(252, 226, 178);
    padding: 1% 1% 4%;
    font-size: 1.5rem
}

figcaption {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    padding: 4% 4% 2% 4%;

}


h3 {  
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    background-color:rgb(251, 255, 255) ;
    color:rgb(255, 153,0);
    padding: 1% 1% 4%;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 6% 4% 2% 4%;
    letter-spacing: 0.1em
}



ul {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding: 2% 4% 2% 4%;
    
	
}
ul li { padding: 0.5em 0em; 
	display: inline;
    list-style-type: circle
	
    
}



ol {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding: 2% 4% 8% 4%;
    
}
ol li { padding: 0.5em 0em;
	display: inline;
        list-style-type: armenian
}


p{
    background-color:rgb(255, 153, 0);
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    padding: 2% 4% 2% 4%;
    color:rgb(251, 255, 255)

}
/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
